<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
	<title>addStudentForm</title>
</head>
<body>
	<p>Add Student</p>
	<form method="post" action="addStudent">
		<table>
			<tbody>
				<tr>
					<th>
						Name:
					</th>
					<td>
						<input type="text" name="name" />
					</td>
				</tr>
				<tr>
					<th>
						Age:
					</th>
					<td>
						<input type="text" name="age" />
					</td>
				</tr>
				<tr>
					<th>
						
					</th>
					<td>
						<input type="submit" value="submit" />
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
</html>